.circleInfo {
  border-radius: 50%;
  background: #2e2e36;
  box-shadow: inset 5px 5px 10px #27272d, inset -5px -5px 10px #35353f;
  height: 200px;
  width: 200px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-border {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border: 15px #9f0fff;
  border-style: outset;
  background: linear-gradient(-45deg, #35353d, #7f0fff7c);
  box-shadow: 5px 5px 45px #7f0fff7c, -5px -5px 45px #7f0fff7c;
  height: 152px;
  width: 152px;
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.imgPerfil {
  height: 160px;
  padding-top: 5px;
}

@media (max-width: 480px) {
  .div-border {
    height: 182px;
    width: 182px;
  }

  .imgPerfil {
    height: 190px;
    padding-top: 6px;
  }
}

.button:hover + .div-border {
  border: 15px #37ff0f;
}
