/* .card {
  border-radius: 5%;
  background: #2e2e36;
  box-shadow: inset 5px 5px 10px #27272d, inset -5px -5px 10px #35353f;
  height: 50px;
  width: 300px;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");

.button {
  --width: 300px;
  --height: 50px;
  --button-color: #6e40c4;
  --margin-button: 2%;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  transition: background 0.3s;
  cursor: pointer;
  margin-bottom: var(--margin-button);
}

@media (max-width: 480px) {
  .button {
    --width: 200px;
    --height: 70px;
    --margin-button: 5%;
  }
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#linkedin:hover {
  background: #0275b4;
  box-shadow: 5px 5px 15px #0276b491, -5px -5px 15px #0276b491 !important;
}

#gitHub:hover {
  background: #000000;
  box-shadow: 5px 5px 15px #ffffff44, -5px -5px 15px #ffffff44 !important;
}

#instagram:hover {
  background: #e13ef0;
  box-shadow: 5px 5px 15px #e13ef07e, -5px -5px 15px #e13ef07e !important;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) - 20px);
}

.button:hover:before {
  bottom: var(--height);
}

@media (max-width: 480px) {
  .button {
    --margin-button: 15%;
  }
}
